.supper-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.super-avatar{
    width:70px;
    height:70px;
    border-radius: 50%;
    border: 2px solid black;
}
.big-avatar {
    width: 40px ;
    height: 40px ; 
    border-radius: 50% ;
    border: 2px solid black;
   }
.medium-avatar {
    width: 30px ;
    height: 30px ; 
    border-radius: 50% ;
    border: 2px solid black;
   }
.small-avatar {
    width: 20px ;
    height: 20px ; 
    border-radius: 50% ;
    border: 2px solid black;
   }