/* --------- Status ---------- */
.status{
    background: white;
    /* box-shadow: 0 0 5px #ddd; */
    padding: 20px;
    border-radius: 5px;
    border: 1px dashed black;
}
.status .statusBtn{
    background: #f7da31;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #24231c;
    padding: 0px 30px;
    text-align: center;
    margin: 0 5px;
    font-family: 'Qahiri', sans-serif;
    font-size: 1.6rem;

}
.status .statusBtn:hover{
    background: #fff2a8;
    
}



/* ------------Posts ------ */
.posts .card{
    border: none;
    padding-bottom: 30px;
}
/* --------- Post Card Header --------- */
.posts .card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
    border-bottom: 1px solid #dbdbdb;
}
.posts .card_header .card_name{
    transform: translateY(3px);
}
.posts .card_header .dropdown-menu{
    position: absolute;
    right: 0;
    left: inherit;
}
.posts .card_header .dropdown-item{
    display: flex;
    margin: 5px 0;
}

/* ---------- Post Card Body ---------- */
.posts .card_body-content{
    padding: 15px 30px 0px 30px;
    width: 100vw;
}
.posts .card_body-content .readMore{
    color: #969696;
    cursor: pointer;
}

/* ---------- Post Card Footer ---------- */
.posts .card_icon_menu{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}
.posts .card_icon_menu i{
    font-size: 28px;
    margin: 10px;
}
.posts .card_icon_menu img{
    width: 28px;
    height: 28px;
    transform: translate(5px, -5px);
    opacity: 0.9;
}