.no-post {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #cc473d;
    -webkit-text-stroke: 2px black;
    margin-top: 10vh;
}

.post_thumb{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    grid-gap: 3px;
    overflow: hidden;
    margin: 15px 0px;
    padding-right: 5px;
    padding-left: 5px;
}
.post_thumb_display{
    min-width: 300px;
    height: 350px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.post_thumb_display img,
.post_thumb_display video{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition:all 0.3s ease-in-out;
}

.post_thumb_display .post_thumb_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}
/* .post_thumb_display:hover .post_thumb_menu{
    opacity: 1;
} */

.post_thumb_display img:hover,
.post_thumb_display video:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.post_thumb_display .post_thumb_menu {
    font-size: 1.8rem;
    color: white;
    margin: 0 25px;
    justify-content: center;
    align-items: center;
}